<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Hank's Blog</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h2>{{ posts_body['title'] }}</h2>
            <p>{{ posts_body['body'] }}</p>
        </div>
    </div>
</div>
</body>

<footer>
    <p>Made with Hank in Taiwan.</p>
</footer>
</html>